# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python
build/
dist/
*.egg

# Django
db.sqlite3
*.log
.env
media/
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Virtual environments
venv/
env/
.venv/
